.post-container{
    display: flex;
    flex-direction: column;
    border: 3px solid grey;
    width: 600px;
    margin: auto;
    
    padding:10px 15px 10px 15px;
    margin-bottom: 20px;
}

.user-date{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#userSubmit{
    background: none;
    border: none;
    padding:0;
}

.content-container{
    border: 1px solid lightgrey;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    min-height: 100px;
    word-wrap: break-word;
}

.main-comment-container{
    display: flex; 
    flex-direction:column; 
    width:100%; 
    align-items:center;
}

.comment-gen{
    display:flex; 
    flex-direction:column; 
    align-items:center; 
    width:100%;
}

.like-comment{
     display: flex;
     justify-content: center;
     align-items: flex-start;
     width: 90%; 
}

#commentSubmitBtn{
    
    padding: 5px;
    margin:0 0px 5px 5px;
    font-size: 14px;
}

.comment-input{
    display: flex;
    justify-content: center;
    
    width: 90%;
}

#heart{
    height:1.5em ; 
    color:red;
    margin-right: 15px;
    margin-top: 5px;
    padding: 0;
    cursor: pointer;
    
}

.numLike{
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 5px;
    padding: 0;
}

.comment-input input{
    flex-grow: 1;
}

.comment-input button{
    margin-left: 1px;
}

.comment-container{
    width: 90%;
   border-radius:14px; 
   background-color:#dcf0fc;
   margin: 5px;
   padding:5px 10px;
}

#comment-header{
   display: flex; 
   justify-content:space-between;
    width:100%; 
    padding:5px 10px;
}

#comment-header #bold{
   font-weight:700;
}

#comment-content{
   padding:5px 15px
}

.comment-num{
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #fff;
    border: 1px solid lightgray;
    
    margin-top: 3px;
    margin-left: 5px;
}